**SECTION A — STRINGS**

In [ ]:
#Q1
# Ask the user for input
full_name = input("Enter your full name: ")

# 1. Print the name in title case
print("Title Case:", full_name.title())

# 2. Print the first and last character
# [0] selects the first letter, [-1] selects the last letter
print(f"First Character: {full_name[0]}")
print(f"Last Character: {full_name[-1]}")

# 3. Print the name reversed
# [::-1] slices the string from end to start
print("Reversed:", full_name[::-1])

# 4. Print how many times the letter "a" appears
count_a = full_name.count("a")
print("Count of 'a':", count_a)

# 5. Remove all spaces from the name
print("No Spaces:", full_name.replace(" ", ""))

Enter your full name: Sumaiya Sarkar Shimla
Title Case: Sumaiya Sarkar Shimla
First Character: S
Last Character: a
Reversed: almihS rakraS ayiamuS
Count of 'a': 5
No Spaces: SumaiyaSarkarShimla

In [ ]:
#Q2
s = "Learning Python Is Fun"

# a) Convert to lowercase
print("a) Lowercase:", s.lower())

# b) Replace "Fun" with "Awesome"
print("b) Replaced:", s.replace("Fun", "Awesome"))

# c) Print the 3rd to 10th characters
# Note: Python indexing starts at 0.
# 3rd character is at index 2.
# 10th character is at index 9 (so we slice up to 10).
print("c) Sliced:", s[2:10])

# d) Check if the string ends with "Fun"
print("d) Ends with 'Fun':", s.endswith("Fun"))

# e) Split the string into a list of words
print("e) Split list:", s.split())

a) Lowercase: learning python is fun
b) Replaced: Learning Python Is Awesome
c) Sliced: arning P
d) Ends with 'Fun': True
e) Split list: ['Learning', 'Python', 'Is', 'Fun']

**SECTION B — NUMBERS, MATH & OPERATOR PRECEDENCE**

In [ ]:
#Q3
# 1. Evaluate 5 + 3 * 4
# In Python, multiplication (*) has higher precedence than addition (+).
# So, 3 * 4 is calculated first (12).
# Then, 5 is added to 12, resulting in 17.
print("5 + 3 * 4 =", 5 + 3 * 4)

# 2. Evaluate (5 + 3) * 4
# Parentheses () have the highest precedence.
# The operation inside (5 + 3) happens first, resulting in 8.
# Then, 8 is multiplied by 4, resulting in 32.
print("(5 + 3) * 4 =", (5 + 3) * 4)

# 3. Evaluate 100 / 6 and 100 // 6
# The single slash (/) performs float division, which keeps the decimal point.
# Result is 16.666...
print("100 / 6 =", 100 / 6)

# The double slash (//) performs floor division (integer division).
# It drops the decimal part and returns the nearest whole number rounded down.
# Result is 16.
print("100 // 6 =", 100 // 6)

# 4. Evaluate 2 ** 5 * 3
# Exponentiation (**) has higher precedence than multiplication (*).
# First, 2 raised to the power of 5 is calculated (2*2*2*2*2 = 32).
# Then, 32 is multiplied by 3, resulting in 96.
print("2 ** 5 * 3 =", 2 ** 5 * 3)

5 + 3 * 4 = 17
(5 + 3) * 4 = 32
100 / 6 = 16.666666666666668
100 // 6 = 16
2 ** 5 * 3 = 96

In [ ]:
#Q4
import math

# 1. Square root of 225
# math.sqrt returns a float
sqrt_val = math.sqrt(225)
print("Square root of 225:", sqrt_val)

# 2. sin(90 degrees)
# We convert 90 degrees to radians first because math.sin uses radians
sin_val = math.sin(math.radians(90))
print("sin(90 degrees):", sin_val)

# 3. 8 cubed (8^3)
# math.pow(base, exponent) returns 8 raised to the power of 3
power_val = math.pow(8, 3)
print("8 cubed:", power_val)

# 4. Value of Pi rounded to 4 decimals
# math.pi gives the value, round() rounds it
pi_rounded = round(math.pi, 4)
print("Pi rounded to 4 decimals:", pi_rounded)

Square root of 225: 15.0
sin(90 degrees): 1.0
8 cubed: 512.0
Pi rounded to 4 decimals: 3.1416

**SECTION C — IF STATEMENTS & LOGICAL OPERATORS**

In [ ]:
#Q5
# Ask the user for a number (converting input to an Integer)
num = int(input("Enter a number: "))

# 1. Check if the number is Positive, Negative, or Zero
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

# 2. Check if the number is Even or Odd
# The modulo operator (%) returns the remainder of division.
# If a number divided by 2 has a remainder of 0, it is even.
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 10
Positive
Even

In [ ]:
#Q6
# 1. Take three subject marks from the user
# We use float() to allow decimal marks (e.g., 85.5)
m1 = float(input("Enter marks for subject 1: "))
m2 = float(input("Enter marks for subject 2: "))
m3 = float(input("Enter marks for subject 3: "))

# 2. Calculate total
total = m1 + m2 + m3
print(f"Total Marks: {total}")

# 3. Calculate average
average = total / 3
print(f"Average Marks: {average}")

# 4. Check Pass/Fail logic using 'and'
# All marks must be >= 40 to pass
if m1 >= 40 and m2 >= 40 and m3 >= 40:
    print("Result: Pass")

    # 5. Check Distinction/Normal Pass logic
    # This is nested inside the 'Pass' block because
    # you cannot get a 'Normal Pass' if you failed.
    if average >= 75:
        print("Class: Distinction")
    else:
        print("Class: Normal Pass")

else:
    # If any condition above was false (meaning at least one mark < 40)
    print("Result: Fail")

Enter marks for subject 1: 80
Enter marks for subject 2: 90
Enter marks for subject 3: 75
Total Marks: 245.0
Average Marks: 81.66666666666667
Result: Pass
Class: Distinction

**SECTION D — LOOPS**

In [ ]:
#Q7
# Initialize the starting number
num = 1

# Loop through numbers up to 50
while num <= 50:

    # Stop completely when number reaches 37
    if num == 37:
        break

    # Skip all numbers divisible by 4
    if num % 4 == 0:
        num += 1  # Increment before skipping to avoid an infinite loop
        continue

    # Print the number
    print(num)

    # Increment the counter for the next iteration
    num += 1

1
2
3
5
6
7
9
10
11
13
14
15
17
18
19
21
22
23
25
26
27
29
30
31
33
34
35

In [ ]:
#Q8
# 1. Ask the user for a number
num = int(input("Enter a number for the multiplication table: "))

print(f"Multiplication Table for {num}:")
print("-----------------------------")

# 2. Loop from 1 to 12
# range(1, 13) generates numbers: 1, 2, 3, ..., 12
for i in range(1, 13):
    # Calculate the result
    result = num * i

    # Print in the format: num x i = result
    print(f"{num} x {i} = {result}")

Enter a number for the multiplication table: 5
Multiplication Table for 5:
-----------------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

In [ ]:
#Q9
# Define the number of rows
rows = 5

# Outer loop controls the number of rows (1 to 5)
for i in range(1, rows + 1):

    # Inner loop controls the numbers in each row
    # It runs from 1 up to the current row number 'i'
    for j in range(1, i + 1):
        # print(j, end="") prints the number without moving to a new line
        print(j, end="")

    # This print() moves the cursor to the next line after each row is finished
    print()

1
12
123
1234
12345

**SECTION E — LISTS & LIST COMPREHENSION**

In [ ]:
#Q10
nums = [12, 4, 8, 1, 9, 3, 4, 4]

# 1. Sort the list (Ascending order)
nums.sort()
print("Sorted:", nums)

# 2. Insert 100 at index 2
# After sorting, the list is [1, 3, 4, 4, 4, 8, 9, 12]
# Index 2 is the third position.
nums.insert(2, 100)
print("Inserted 100:", nums)

# 3. Remove the value 1
nums.remove(1)
print("Removed 1:", nums)

# 4. Find and print the max and min values
max_val = max(nums)
min_val = min(nums)
print("Max value:", max_val)
print("Min value:", min_val)

# 5. Reverse the list
nums.reverse()
print("Reversed:", nums)

# 6. Count how many times 4 appears
count_4 = nums.count(4)
print("Count of 4:", count_4)

Sorted: [1, 3, 4, 4, 4, 8, 9, 12]
Inserted 100: [1, 3, 100, 4, 4, 4, 8, 9, 12]
Removed 1: [3, 100, 4, 4, 4, 8, 9, 12]
Max value: 100
Min value: 3
Reversed: [12, 9, 8, 4, 4, 4, 100, 3]
Count of 4: 3

In [ ]:
#Q11
# Create a list of 10 integers
numbers = [5, 12, 25, 8, 33, 2, 19, 40, 7, 21]

# 1. Print the list
print("Original List:", numbers)

# 2. Print only the odd numbers
# We create a new list of just the odd numbers for cleaner printing
odd_numbers = []
for num in numbers:
    if num % 2 != 0:
        odd_numbers.append(num)
print("Odd numbers:", odd_numbers)

# 3. Print only the numbers greater than 20
greater_than_20 = []
for num in numbers:
    if num > 20:
        greater_than_20.append(num)
print("Numbers > 20:", greater_than_20)

# 4. Replace all numbers less than 10 with 0
# We use range(len(numbers)) to access the list by index so we can modify it
for i in range(len(numbers)):
    if numbers[i] < 10:
        numbers[i] = 0

print("Modified List (values < 10 became 0):", numbers)

Original List: [5, 12, 25, 8, 33, 2, 19, 40, 7, 21]
Odd numbers: [5, 25, 33, 19, 7, 21]
Numbers > 20: [25, 33, 40, 21]
Modified List (values < 10 became 0): [0, 12, 25, 0, 33, 0, 19, 40, 0, 21]

In [ ]:
#Q12
# List comprehension syntax: [expression for item in iterable if condition]
# We check if x is divisible by 3 (x % 3 == 0) AND not divisible by 5 (x % 5 != 0)
result = [x for x in range(1, 101) if x % 3 == 0 and x % 5 != 0]

print("Numbers divisible by 3 but not 5:")
print(result)

Numbers divisible by 3 but not 5:
[3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99]