SECTION A — Tuples

Q1.

In [ ]:
# Initial tuple
t1 = (5, 2, 9, 5, 2, 7, 8, 9)

# --- Part a) Create a new tuple of unique elements, sorted ascending ---
# 1. set(t1) removes duplicates
# 2. sorted() arranges them in ascending order (returns a list)
# 3. tuple() converts the list back into a tuple
new_tuple = tuple(sorted(set(t1)))
print("a) Unique sorted tuple:", new_tuple)

# --- Part b) Find index positions of all occurrences of 5 ---
print("b) Indices of 5:")
for index in range(len(t1)):
    if t1[index] == 5:
        print(index)

a) Unique sorted tuple: (2, 5, 7, 8, 9)
b) Indices of 5:
0
3

Q2.

In [ ]:
# Given tuples
a = (1, 3, 5, 7)
b = (2, 4, 6, 8)

# --- Part 1: Merge and Sort  ---
# Simply doing (a + b) would result in (1, 3, 5, 7, 2, 4, 6, 8).
# To get (1, 2, 3, 4, 5, 6, 7, 8), we must concatenate and then sort.
merged_tuple = tuple(sorted(a + b))

print("Part 1 - Merged Tuple:", merged_tuple)

# --- Part 2: Modify Even Numbers ---
# 1. Convert tuple to list (since tuples are immutable and cannot be changed directly)
temp_list = list(merged_tuple)

# 2. Iterate through the list and replace even numbers
for i in range(len(temp_list)):
    # Check if the number is even
    if temp_list[i] % 2 == 0:
        # Assign the negative equivalent
        temp_list[i] = -temp_list[i]

# 3. Convert back to tuple
final_tuple = tuple(temp_list)

print("Part 2 - Final Modified Tuple:", final_tuple)

Part 1 - Merged Tuple: (1, 2, 3, 4, 5, 6, 7, 8)
Part 2 - Final Modified Tuple: (1, -2, 3, -4, 5, -6, 7, -8)

SECTION B — Sets & Set Methods

Q3.

In [ ]:
# Initial Sets
A = {10, 20, 30, 40, 50}
B = {30, 60, 90, 20}

# --- Part a) Find numbers in A not in B, and B not in A (Symmetric Difference) ---
# This is technically the "Symmetric Difference".
# Logic: (A - B) union (B - A)
# In Python, we can use the ^ operator or .symmetric_difference() method
part_a_result = A.symmetric_difference(B)

print("a) Combined unique elements:", part_a_result)


# --- Part b) Remove elements from A divisible by 20 ---
# Note: We must convert A to a list or create a copy to iterate,
# because we cannot remove items from a set while looping through it directly.
for num in list(A):
    if num % 20 == 0:
        A.remove(num)

print("b) A after removing multiples of 20:", A)


# --- Part c) Add all elements of B into A ---
# Using the update() method as requested
A.update(B)

print("c) A after update with B:", A)

a) Combined unique elements: {40, 10, 50, 90, 60}
b) A after removing multiples of 20: {50, 10, 30}
c) A after update with B: {50, 20, 90, 10, 60, 30}

Q4.

In [ ]:
# Given set
s = {12, 7, 3, 18, 21, 5}

# --- Part a) Extract elements > 10 using comprehension  ---
# Syntax: {expression for item in iterable if condition}
greater_than_10 = {x for x in s if x > 10}

print("a) Elements greater than 10:", greater_than_10)

# --- Part b) Use pop() until only two elements remain  ---
# Use a while loop that runs as long as the length is greater than 2
print("b) Popping elements...")
while len(s) > 2:
    removed_item = s.pop()
    print(f"   Removed: {removed_item}")

print("   Remaining set:", s)

a) Elements greater than 10: {18, 12, 21}
b) Popping elements...
   Removed: 18
   Removed: 3
   Removed: 5
   Removed: 21
   Remaining set: {7, 12}

SECTION C — Dictionaries & Methods


Q5.

In [ ]:
# Initial Dictionary
sales = {
    "Jan": {"total": 1200, "returns": 2},
    "Feb": {"total": 1500, "returns": 3},
    "Mar": {"total": 1700, "returns": 1}
}

# --- Part a) Increase "total" of every month by 5%  ---
for month in sales:
    # Multiply existing total by 1.05 (which adds 5%)
    sales[month]["total"] = sales[month]["total"] * 1.05

print("a) Sales after 5% increase:", sales)


# --- Part b) Add a new month "Apr" (2 marks) ---
sales["Apr"] = {"total": 1600, "returns": 2}

print("b) Sales after adding Apr:", sales)


# --- Part c) Delete the month with highest "returns"  ---
max_returns = -1
month_to_delete = None

# Iterate to find the month with the highest returns
for month, data in sales.items():
    if data["returns"] > max_returns:
        max_returns = data["returns"]
        month_to_delete = month

# Delete the found month
if month_to_delete:
    del sales[month_to_delete]
    print(f"c) Deleted '{month_to_delete}' (Returns: {max_returns}).")
    print("   Current Dictionary:", sales)


# --- Part d) Print months whose total is above 1500 ---
print("d) Months with total > 1500:")
for month, data in sales.items():
    if data["total"] > 1500:
        print(f"   - {month}: {data['total']}")

a) Sales after 5% increase: {'Jan': {'total': 1260.0, 'returns': 2}, 'Feb': {'total': 1575.0, 'returns': 3}, 'Mar': {'total': 1785.0, 'returns': 1}}
b) Sales after adding Apr: {'Jan': {'total': 1260.0, 'returns': 2}, 'Feb': {'total': 1575.0, 'returns': 3}, 'Mar': {'total': 1785.0, 'returns': 1}, 'Apr': {'total': 1600, 'returns': 2}}
c) Deleted 'Feb' (Returns: 3).
   Current Dictionary: {'Jan': {'total': 1260.0, 'returns': 2}, 'Mar': {'total': 1785.0, 'returns': 1}, 'Apr': {'total': 1600, 'returns': 2}}
d) Months with total > 1500:
   - Mar: 1785.0
   - Apr: 1600

Q6.

In [ ]:
# Initial nested dictionary
students = {
    1: {"name": "Riya", "marks": {"math": 88, "eng": 76, "sci": 90}},
    2: {"name": "Fahim", "marks": {"math": 92, "eng": 81, "sci": 79}},
    3: {"name": "Simran", "marks": {"math": 67, "eng": 72, "sci": 69}}
}

# --- Part a) Add "computer": 85 to every student's marks  ---
for s_id in students:
    # Access the 'marks' dictionary inside the student's dictionary and add the new key
    students[s_id]["marks"]["computer"] = 85

print("a) Updated dictionary with Computer marks:")
print(students)
print("-" * 30)


# --- Part b) Calculate total score and add "total" key  ---
for s_id in students:
    # .values() gives us [math_score, eng_score, sci_score, comp_score]
    # sum() adds them up
    total_score = sum(students[s_id]["marks"].values())

    # Store this sum in a new key "total"
    students[s_id]["total"] = total_score

print("b) Dictionary with Total scores:")
for s_id, data in students.items():
    print(f"   {data['name']}: {data['total']}")
print("-" * 30)


# --- Part c) Find the student with the highest total  ---
highest_score = -1
top_student_name = ""

for s_id, data in students.items():
    if data["total"] > highest_score:
        highest_score = data["total"]
        top_student_name = data["name"]

print(f"c) Student with highest total: {top_student_name} (Score: {highest_score})")
print("-" * 30)


# --- Part d) Print students with all subjects > 70  ---
print("d) Students with all subjects > 70:")

for s_id, data in students.items():
    # Get all mark values as a list
    all_marks = data["marks"].values()

    # Check if the lowest mark is strictly greater than 70
    # If the minimum is > 70, then ALL are > 70
    if min(all_marks) > 70:
        print(f"   - {data['name']}")

a) Updated dictionary with Computer marks:
{1: {'name': 'Riya', 'marks': {'math': 88, 'eng': 76, 'sci': 90, 'computer': 85}}, 2: {'name': 'Fahim', 'marks': {'math': 92, 'eng': 81, 'sci': 79, 'computer': 85}}, 3: {'name': 'Simran', 'marks': {'math': 67, 'eng': 72, 'sci': 69, 'computer': 85}}}
------------------------------
b) Dictionary with Total scores:
   Riya: 339
   Fahim: 337
   Simran: 293
------------------------------
c) Student with highest total: Riya (Score: 339)
------------------------------
d) Students with all subjects > 70:
   - Riya
   - Fahim

SECTION D — Iteration, Comprehension, Filtering

Q7.

In [ ]:
# Given list
nums = [15, 22, 37, 40, 52, 67, 88]

# --- Part a) Create a new list containing numbers divisible by 2 and 4 ---
# Note: A number divisible by 4 is always divisible by 2, but we will check both explicitly.
new_list = [x for x in nums if x % 2 == 0 and x % 4 == 0]

print("a) Numbers divisible by 2 and 4:", new_list)


# --- Part b) Print index and value of only odd numbers using enumerate ---
print("b) Index and Value of odd numbers:")

# enumerate(nums) provides the index (i) and the value (val) at the same time
for i, val in enumerate(nums):
    # Check if the number is odd
    if val % 2 != 0:
        print(f"   Index: {i}, Value: {val}")

a) Numbers divisible by 2 and 4: [40, 52, 88]
b) Index and Value of odd numbers:
   Index: 0, Value: 15
   Index: 2, Value: 37
   Index: 5, Value: 67

Q8.

In [ ]:
# Given dictionary
products = {"p1": 120, "p2": 250, "p3": 80, "p4": 300}

# --- Part a) Print products with price between 100 and 260  ---
print("a) Products between 100 and 260:")

for name, price in products.items():
    # Check if price is within the range
    if 100 <= price <= 260:
        print(f"   {name}: {price}")

# --- Part b) Create new dictionary with "High"/"Low" categories ---
# Using dictionary comprehension for concise code:
# Syntax: {key: "ValueIfTrue" if condition else "ValueIfFalse" for key, val in dict}
category_dict = {name: ("High" if price > 200 else "Low") for name, price in products.items()}

print("b) Category Dictionary:", category_dict)

a) Products between 100 and 260:
   p1: 120
   p2: 250
b) Category Dictionary: {'p1': 'Low', 'p2': 'High', 'p3': 'Low', 'p4': 'High'}

SECTION E — Zip & Enumerate

Q9.

In [ ]:
# Given lists
names = ["Amit", "Sara", "Rohan", "Kia"]
scores = [88, 92, 75, 95]
grades = ["B", "A", "C", "A"]

# --- Step 1: Use zip() to create a combined list of tuples ---
# zip() combines elements from parallel lists at the same index
student_data = list(zip(names, scores, grades))

print("Combined List:", student_data)
print("-" * 30)

# --- Step 2: Print only students with grade "A" ---
print("Students with Grade A:")

# Iterate through the zipped list.
# We unpack the tuple into name, score, and grade variables immediately.
for name, score, grade in student_data:
    if grade == "A":
        print(f"   Name: {name}, Score: {score}, Grade: {grade}")

Combined List: [('Amit', 88, 'B'), ('Sara', 92, 'A'), ('Rohan', 75, 'C'), ('Kia', 95, 'A')]
------------------------------
Students with Grade A:
   Name: Sara, Score: 92, Grade: A
   Name: Kia, Score: 95, Grade: A

Q10.

In [ ]:
# Given list
colors = ["red", "blue", "green", "yellow", "pink", "purple"]

print("Printing every second element (indices 1, 3, 5...):")

# enumerate provides the index and the value at that index
for index, color in enumerate(colors):
    # Check if the index is odd (1, 3, 5...)
    # index % 2 != 0 means there is a remainder when divided by 2
    if index % 2 != 0:
        print(f"Index {index}: {color}")

Printing every second element (indices 1, 3, 5...):
Index 1: blue
Index 3: yellow
Index 5: purple

SECTION F — Nested Lists & Dictionaries

Q11.

In [ ]:
# Given nested list (matrix)
matrix = [
    [3, 7, 1],
    [9, 2, 8],
    [6, 4, 5]
]

# --- Part a) Print all even numbers in the matrix  ---
print("a) Even numbers in the matrix:")

# We need a nested loop: one to go through rows, one to go through items in that row
for row in matrix:
    for num in row:
        # Check if the number is even
        if num % 2 == 0:
            print(num)

# --- Part b) Create a list containing sum of each row  ---
#Use a list comprehension or a standard loop.
# Logic: Calculate sum(row) for every row in the matrix.
row_sums = [sum(row) for row in matrix]

print("b) List of row sums:", row_sums)

a) Even numbers in the matrix:
2
8
6
4
b) List of row sums: [11, 19, 15]

Q12.

In [ ]:
# Initial nested dictionary
inventory = {
    "fruits": {"apple": 50, "banana": 30},
    "vegetables": {"carrot": 40, "spinach": 25},
    "drinks": {"water": 100, "juice": 40}
}

# --- Part a) Increase quantity of every item by 10% ---
#  need to loop through the main categories, then the items inside them.
for category in inventory:
    for item in inventory[category]:
        # Multiply by 1.10 to increase by 10%
        inventory[category][item] = inventory[category][item] * 1.10

print("a) Inventory after 10% increase:")
print(inventory)
print("-" * 30)


# --- Part b) Extract items > 40 into a new dictionary (5 marks) ---
new_inventory = {}

for category, items_dict in inventory.items():
    # Create a temporary dictionary for the current category
    filtered_items = {}

    for item, qty in items_dict.items():
        # Check if the updated quantity is greater than 40
        if qty > 40:
            filtered_items[item] = qty

    # If  found items > 40 in this category, add them to the new dictionary
    # so  maintain the nested structure.
    if filtered_items:
        new_inventory[category] = filtered_items

print("b) New filtered dictionary (Quantity > 40):")
print(new_inventory)

a) Inventory after 10% increase:
{'fruits': {'apple': 55.00000000000001, 'banana': 33.0}, 'vegetables': {'carrot': 44.0, 'spinach': 27.500000000000004}, 'drinks': {'water': 110.00000000000001, 'juice': 44.0}}
------------------------------
b) New filtered dictionary (Quantity > 40):
{'fruits': {'apple': 55.00000000000001}, 'vegetables': {'carrot': 44.0}, 'drinks': {'water': 110.00000000000001, 'juice': 44.0}}